[user]
	email = daniel@drasite.com
	name = Daniel Ruiz de Alegría

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[credential]
	helper = cache --timeout=3600
[alias]
	glog = log --graph --pretty=format:'%Cblue%ad%Creset -%Cred%d%C(yellow) %h %Creset%s %C(bold blue)<%an>%Creset' --date=short
