[user]
	email = daniel@drasite.com
	name = Daniel Ruiz de Alegría

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[credential]
	helper = cache --timeout=3600
[alias]
	glog = !"git --no-pager log --color=always --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all | less -r -X +/[^/]HEAD"
